<nav class="blog-nav container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-md-2 col-xs-3">
            <a ng-click="blogNavigation = 'shop'" href="">SHOP</a>
        </div>
        <div class="col-md-2 col-xs-3">
            <a ng-click="blogNavigation = 'learn'" href="">LEARN</a>
        </div>
        <div class="col-md-2 col-xs-3">
            <a ng-click="blogNavigation = 'discover'" href="">DISCOVER</a>
        </div>
        <div class="col-md-3 col-xs-3">
            <a ng-click="blogNavigation = 'createPost'" href="">CREATE POST</a>
        </div>
    </div>
</nav>
