<nav class="row main-nav" ng-controller="mainNavBarController">
    <div class="container-fluid">
        <div class="row">
            <div class="main-nav-ornament main-nav-top visible-md-block visible-lg-block"></div>
            <div class="main-nav-ornament main-nav-bottom mirror visible-md-block visible-lg-block"></div>
            <div class="main-nav-side-ornament main-nav-left mirror visible-md-block visible-lg-block"></div>
            <div class="main-nav-side-ornament main-nav-right visible-md-block visible-lg-block"></div>
            <div class="nav col-lg-5 col-sm-7 col-xs-5">
                <a ui-sref="home"><b>THE ART OF DRESS</b></a>
                <a class="hidden-xs" href="#">ABOUT</a>
                <a class="hidden-xs" href="#">MY STYLE</a>
                <a class="hidden-xs" href="#">STORE</a>
                <a class="hidden-xs" ui-sref="blog">BLOG</a>
            </div>
            <div class="nav col-lg-3 col-lg-offset-4 col-sm-5 hidden-xs">
                <div class="menu">
                    <div class="wishlist icon"></div>
                    <div ng-show="authentication.isAuth" class="setings icon"></div>
                    <div ng-show="authentication.isAuth" class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            {{authentication.userName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-show="authentication.role >= roleEnum.admin"><a class="clickable" ui-sref="adminPanel">Admin Panel</a></li>
                            <li><a ng-click="logOut()" class="clickable">Log Out</a></li>
                        </ul>
                    </div>
                    <a class="homepage icon" ui-sref="login"></a>
                    <div class="glyphicon glyphicon-search"></div>
                </div>
            </div>
            <div class="col-xs-offset-5 col-xs-1 visible-xs">
                <button data-toggle="collapse" data-target="#icons" class="btn navbar-btn">
                    &#9776
                </button>
            </div>
        </div>
        <div class="row">
            <div class="collapse col-sx-6 hidden-sm hidden-md hidden-lg " id="icons">
                <a class="glyphicon glyphicon-info-sign" href="#"></a>
                <a class="glyphicon glyphicon-picture" href="#"></a>
                <a class="glyphicon glyphicon-shopping-cart" href="#"></a>
                <a ui-sref="blog" class="glyphicon glyphicon-book"></a>
                <a class="glyphicon glyphicon-question-sign" href="#"></a>
            </div>
        </div>
    </div>
</nav>    