<div class="container-fluid  admin-panel" ng-controller="adminPanelController">
    <div>
        <div>
            <button class="btn btn-default">
                + Create User
            </button>
            <span> 
                Admin {{authentication.userName}} 
            </span>
        </div>
   </div>
    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>User</th>
                <th>User role</th>
                <th>Save changes</th>
                <th>Delete user</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in userData">
                <td>{{data.userName}}</td>
                <td>
                    <select class="btn btn-default" ng-model="data.userRole">
                        <option ng-repeat="role in roles" ng-selected="{{role==data.userRole}}" value="{{role}}">{{role}}</option>
                    </select>
                </td>
                <td class="clickable"> 
                    <a ng-click="saveChanges(data)" href="">Save changes</a>
                </td>
                <td class="clickable">
                   <a href="" ng-click="deleteUser(data.userName)"> Delete user</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>