<div ng-controller="blogController">
    <div>
        <header>
            <h1>DISCOVER THE WORLD OF THE TRUE ROMANTIC</h1>
        </header>
        <blog-nav-bar>
        </blog-nav-bar>
        
        <div ng-show="isShowPage" id="cap" ng-click="closePage()"></div>
        <div ng-show="isShowPage" class="blog-page">
            <div id="blog-page-close" class="glyphicon glyphicon-remove clickable" ng-click="closePage()"></div>
            <div id="blog-page-name">
                <div class="block-ornament block-ornament-top visible-lg-block visible-md-block"></div>
                <div class="block-ornament block-ornament-bottom mirror visible-lg-block visible-md-block"></div>
                {{currentPageData.PageName|uppercase}}
            </div>
            <div class="post-page-content">
                <img id="blog-image" ng-src="{{currentPageData.PicturePath}}" />
                <p>{{currentPageData.Content}}</p>
                <div class="clearfix"></div>
                <div ng-hide="isCreateForm">

                    <button data-toggle="collapse" data-target="#comments" class="button-down mirror"></button>
                    <div id="comments" class="collapse">
                        <div ng-repeat="message in currentPageData.Comments">
                            <div>
                                <span class="comment-author">{{message.UserName}}</span>
                                <span class="comment-date">{{message.Date|date:'short'}} 
                                    <span ng-show="authentication.role.Admin" ng-click="deleteMessage(message.Id)" class="glyphicon glyphicon-remove"></span>
                                </span>
                            </div>
                            <div class="comment">
                                {{message.Text}}
                            </div>
                        </div>
                        <hr>
                        <form ng-show="authentication.isAuth" name="commentForm" ng-submit="commentForm.$valid && sendComment()">
                            <input placeholder="Add comment" ng-model="message.Text" required />
                            <button type="submit"> Submit</button>
                        </form>
                        <p ng-hide="authentication.isAuth">Please login to comment</p>
                    </div>
                    <div id="blog-page-navigation">
                        <div class="glyphicon glyphicon-arrow-left clickable" ng-click="previousPage()"></div>
                        <div class="glyphicon glyphicon-option-vertical"></div>
                        <div class="glyphicon glyphicon-arrow-right clickable" ng-click="nextPage()"></div>
                    </div>
                </div>
                <create-post-form>
                </create-post-form>
            </div>
        </div>
        <div ng-switch="blogNavigation" class="grid">
            <div ng-switch-when="discover" infinite-scroll="pagination()" infinite-scroll-disabled="{{infinitePaginationDisabled}}">
                <div masonry item-selector=".grid-item">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="masonry-brick grid-item col-sm-6 col-xs-12 " ng-repeat="data in blogPageData | orderBy: '-Id'">
                                <div>
                                    <div class="title-block">{{data.Title|uppercase}}</div>
                                    <img class="clickable" data-index={{$index}} ng-click="showBlogPage($event)" ng-src="{{data.PicturePath}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-when="createPost" class="container-fluid">
                <div class="row">
                    <div class="grid-item col-sm-6 col-xs-12 visible-xs-block">
                        <div>
                            <div class="title-block">CREATE POST</div>
                            <img class="clickable" ng-click="showCreatePostPage()" src="../img/landingPage/Landing-Page-Image-1.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>