<div ng-controller="homeController">
    <div ng-init="initHome()">
        <div ng-click="goUp()" class="button-up visible-lg visible-md hover">^</div>
        <header>
            <h1>WELCOME TO THE WORLD OF THE ART OF DRESS</h1>
        </header>
        <div class="landing-page" id="page1">
            <h2>The Art of Dress is A spiritual path</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="block">
                            <div class="block-ornament block-ornament-top visible-md-block visible-lg-block"></div>
                            <div class="block-ornament block-ornament-bottom mirror visible-md-block visible-lg-block"></div>
                            <p>Style</p>
                            <p>Reflect Your Body</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block">
                            <div class="block-ornament block-ornament-top visible-md-block visible-lg-block"></div>
                            <div class="block-ornament block-ornament-bottom mirror visible-md-block visible-lg-block"></div>
                            <p>Color</p>
                            <p>Projects Tour Soul</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block">
                            <div class="block-ornament block-ornament-top visible-md-block visible-lg-block"></div>
                            <div class="block-ornament block-ornament-bottom mirror visible-md-block visible-lg-block"></div>
                            <p>Artistry</p>
                            <p>Embraces Your Spirit</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Cherish Your Individuality.</h3>
            <h3>Discover The Possibilities of The Art of Dress</h3>
            <button type="button" class="btn btn-danger">BEGIN</button>
        </div>
        <div class="button-down mirror" ng-click="goDown('#page2')"></div>
        <div class="landing-page" id="page2">
            <h3>In Wearing Our Style,</h3>
            <h3>We Form A Connection To Our Bodies.</h3>
            <h3>Our Bodies Are Forgotton Tempes To The Divine.</h3>
            <h2>THERE ARE 13 STYLES</h2>
        </div>
        <div class="button-down mirror" ng-click="goDown('#page3')"></div>
        <div class="landing-page" id="page3">
            <h3>In Living in Our Colors,</h3>
            <h3>We Form A Connection To Our Inner Being.</h3>
            <h3>Our Inner Being is Also Called Our Soul.</h3>
            <h2>THERE ARE TWELVE COLOR ELEMENTS</h2>
        </div>
        <div class="button-down mirror" ng-click="goDown('#page4')"></div>
        <div class="landing-page" id="page4">
            <h3>In Displayin Our Artisty.</h3>
            <h3>We Form A Connection To The World Around us.</h3>
            <h3>We take Or Place in The World of Art</h3>
            <h2>THERE ARE FOUR ARTISTIC TYPES</h2>
        </div>
        <div class="button-down mirror" ng-click="goDown('#page5')"></div>
        <div class="landing-page" id="page5">
        </div>
        <div class="button-down mirror" ng-click="goDown('#page6')"></div>
        <div class="landing-page" id="page6">
            <h2>THE ART OF DRESS READING</h2>
            <h3>The path of the Art of Dress will enrich your life</h3>
            <h3>with beauty and bring light into your day.</h3>
            <h3>Embark on your journey</h3>
            <button class="btn btn-danger">BEGIN</button>
        </div>
    </div>
</div>