<div class="container" ng-controller="loginController">
    <h2 class="form-login-heading">Login</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" name="loginForm" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>User name</label>
                                    <input type="text" name="userName" ng-model="loginData.userName"
                                           ng-minlength="4" ng-maxlength="18" class="form-control input-sm"
                                           placeholder="User name" required>
                                    <i ng-show="loginForm.userName.$error.required">*required</i>
                                    <i ng-show="loginForm.userName.$error.minlength">*too short</i>
                                    <i ng-show="loginForm.userName.$error.maxlength">*too long</i>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password" ng-model="loginData.password"
                                            class="form-control input-sm" placeholder="Password"
                                            ng-minlength="6" required>
                                    <i ng-show="loginForm.password.$error.required">*required</i>
                                    <i ng-show="loginForm.password.$error.minlength">*too short</i>
                                    <i ng-show="loginForm.password.$error.maxlength">*too long</i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <a ui-sref="signup">Create account</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <a>Forgot password?</a>
                                </div>
                            </div>
                        </div>
                        <input type="submit" ng-disabled="!loginForm.$valid" value="Login" class="btn btn-info btn-block" ng-click="login()">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>