<div class="container" ng-controller="signupController">
    <h2 class="form-login-heading">Please sign up for TaoDress</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" name="registrationForm" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>*First name</label>
                                    <input type="text" name="firstName" ng-model="registration.firstName" 
                                           class="form-control input-sm" placeholder="First Name" required
                                    >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>*Last name</label>
                                    <input type="text" name="lastName" ng-model="registration.lastName" 
                                           class="form-control input-sm" placeholder="Last Name" required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>*User name</label>
                                    <input type="text" name="userName" ng-model="registration.userName" 
                                           ng-minlength="4" ng-maxlength="18" class="form-control input-sm" 
                                           placeholder="User name" required
                                    >
                                    <i ng-show="registrationForm.userName.$error.minlength">*too short</i>
                                    <i ng-show="registrationForm.userName.$error.maxlength">*too long</i>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>*Email address</label>
                                    <input type="email" name="email" ng-model="registration.email" 
                                           class="form-control input-sm" placeholder="Email Address" required
                                     >
                                    <i ng-show="registrationForm.$error.email">*not a valid email</i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>*Password</label>
                                    <input type="password" name="password" ng-model="registration.password"  
                                           class="form-control input-sm" placeholder="Password" ng-change="passwordMatchCheck()"
                                           ng-minlength="6"  ng-pattern="passwordRegExp" required
                                    >
                                    <i ng-show="registrationForm.password.$error.minlength">*too short</i>
                                    <i ng-show="registrationForm.password.$error.maxlength">*too long</i>
                                    <i ng-show="registrationForm.password.$error.pattern">*Password must include at least one upper case letter, one lower case letter, and one numeric digit.</i>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>*Confirm password</label>
                                    <input type="password" name="confirmPassword" ng-model="registration.confirmPassword" 
                                           ng-change="passwordMatchCheck()"  class="form-control input-sm" placeholder="Confirm Password" required
                                    >
                                    <i ng-hide="passwordMatch">*password doesn't match</i>
                                </div>
                            </div>
                        </div>
                        <input type="submit" ng-disabled="!registrationForm.$valid || !passwordMatch" value="Register" class="btn btn-info btn-block" ng-click="signUp()">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>